node_modules/
.history/
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
production.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
./access.log
./public/error.log
/public/error.log
/access.log
./storage/logs
.history/
./public/access.log
/public/access.log
.idea/
.history/

lib