#bAppAlertContainer {
    position: relative;
    left: auto;
    top: 0;
    overflow: auto;
    margin-bottom: 5px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    height: 100%;
    display: block;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

#bAppAlertContainer.hide {
    position: relative;
    border: 1px solid transparent;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

#bAppAlertContainer.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 5s linear 0.33s, opacity 0.33s linear;
}

.bAppAlert{
    position: relative;
    border: 1px solid transparent;
    border-radius: 3px;
}
.bAppAlert>.alert-heading {
    color: inherit;
}

.bAppAlert>.alert-primary {
    color: #24426c;
    background-color: #dae5f5;
    border-color: #cbdbf2;
}

.bAppAlert>.alert-primary hr {
    border-top-color: #b7cded;
}


.bAppAlert>.alert-secondary {
    padding: 0.75rem 1.25rem;
    color: #464a4e;
    background-color: #e7e8ea;
    border-color: #dddfe2;
}

.bAppAlert>.alert-secondary hr {
    border-top-color: #cfd2d6;
}

.bAppAlert>.alert-success {
    padding: 0.75rem 1.25rem;
    color: #316100;
    background-color: #dff1cc;
    border-color: #d2ecb8;
}

.bAppAlert>.alert-success hr {
    border-top-color: #c5e7a4;
}


.bAppAlert>.alert-info {
    padding: 0.75rem 1.25rem;
    color: #24587e;
    background-color: #daeefc;
    border-color: #cbe7fb;
}

.bAppAlert>.alert-info hr {
    border-top-color: #b3dcf9;
}

.bAppAlert>.alert-warning {
    padding: 0.75rem 1.25rem;
    color: #7d6608;
    background-color: #fcf3cf;
    border-color: #fbeebc;
}

.bAppAlert>.alert-warning hr {
    border-top-color: #fae8a4;
}

.bAppAlert>.alert-danger {
    padding: 0.75rem 1.25rem;
    color: #6b1110;
    background-color: #f5d2d2;
    border-color: #f1c1c0;
}

.bAppAlert>.alert-danger hr {
    border-top-color: #ecacab;
}